
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Julius+Sans+One&display=swap');
/* Fontes */

:root {

    --primary-color:#0077B6D9; /* Cor principal */
    --secondary-color: #FFFFFF; /* Cor Secundaria */
    --navbackground-color: #000000ee;/* Cor da NavBar */

  }

  header {
    position: relative; 
    height: 10%; 
}

/*  Cores */
  .corprincipal{

    background-color: var(--primary-color); 
    z-index: 0; 

  }

  .corsecundaria{

    background-color: var(--secondary-color);
    
  }

  .cornavbackground{

    background-color: var(--navbackground-color);
    z-index: 0; 
  }


  .corprincipaltext{

    color: var(--primary-color); 

  }

  .corsecundariatext{

    color: var(--secondary-color);
    
  }

  .navbar-nav .nav-item .nav-link {
    color: white; 
}

.navbar-nav .nav-item .nav-link:hover {
    color: #ffffff; 
}

.navbar-toggler svg{
  color: #ffffff;
}



  .image{
    background-image: url('Imagens/BackgroundNav.jpeg'); 
    opacity: 0.7;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover; 
    background-position: center; 
    z-index: 0; 
  }

/* Fim Cores */
  
/*Logo */

.LogoAbaixo{

  width: 15%;
 filter: brightness(1.2) contrast(3.3) saturate(3.5) drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.7));

}

.texttopo{

text-shadow: 3px 3px 8px black;

}

.botao{
  width: 10%;
  background-color: #FFFFFF;
  box-shadow: 0px 10px 50px black;
  border-radius: 25px;
  color: var(--primary-color);
  border: 0;
  padding: 0.5%;
  display: flex;
  justify-content: center;
}

.animation{

position: relative;
animation: animated 0.5s ease-in-out infinite alternate;

}

@keyframes animated {
  0% {

  top: 0;

  }

    50%{

    top:2.5px;

    }

  100% {

  top: 5px;

  }

}



/*Logo */




/* Classe usando Jacques Francois */
    .font-jacques {
    font-family: 'Jacques Francois', serif;
    }

/* Classe usando Josefin Sans */
    .font-josefin-sans {
    font-family: 'Josefin Sans', sans-serif;
    }

/* Classe usando Josefin Slab */
    .font-josefin-slab {
    font-family: 'Josefin Slab', serif;
    }

/* Classe usando Julius Sans One */
    .font-julius {
    font-family: 'Julius Sans One', sans-serif;
    }

/* Serviços */

/*Primeira seção */

#services .container{
  margin-top: 20px;
  text-align: center;
  padding: 20px;
}



#services .main-title{
  font-size: 57px;
  color: #0077B6;
}

#services h2{
  font-size: 48px;
  color: #0077B6;
  margin-top: 70px;
  margin-bottom: 70px;
}

#services p{
  font-size: 28px;
  color: var(--primary-color);
  font-weight: 300;
}

#services .imagens-maiores{
  img{
    width: 290px;
  }
}

#services .imagens-menores{
  img{
    width: 150px;
  }
}

#services .container-fluid{
  text-align: center;
  padding: 30px;
  background-color: #0096C7;

  h2{
    color: #FFFFFF;
    margin-top: 15px;
    margin-bottom: 110px;
  }
  p{
    color: #FFFFFF;
    font-weight: 300;
    font-size: 26px;
  }

    /* Equipe 3 CSS */

    *{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

#titulo{
    color: #0077B6;
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    margin: 20px;
    font-size: 50px;
}

.horarios{
    color: #0077B6;
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: center;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}
.horarios>h2{
    color: #0077B6;
    font-size: 40px;
    font-family: 'Jacques Francois', serif;
}

#horas {
    margin-top: 30px;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
}

.mapa{
    display: flex;
    flex-direction: column;
    margin-right: 120px;
}

#maps{
    height: 300px;
    width: 600px;
    border-radius: 20%;
    box-shadow: rgba(0, 0, 0, 0.322) 5px 5px 10px ;
    margin-bottom: 20px;
}

#redes{
    display: flex;
    justify-content: left;
    gap: 50px; /* Define o espaçamento entre os ícones */
    margin-top: 10px;
    margin-left: 20%;
}

#redes a img {
    width: 35px; /* Ajusta o tamanho dos ícones para ficarem menores */
    height: 35px;
}

/* Serve para deixar responsivo */
@media (max-width: 768px) {
    #titulo {
        font-size: 50px;
    }
    .horarios {
        width: 100%;
        padding: 0 20px;
    }
    .horarios > h2 {
        font-size: 30px;
    }
    .info {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #maps {
        width: 90%;
        margin: 20px auto;
    }
    #redes {
        width: 80%;
        margin-top: 10px;
        justify-content: space-around;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

footer{
    background: #0096C7;
    width: 100vw;
    height: 215px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-left{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.name{
    display: flex;
    flex-direction: column;
    padding: 40px;
    font-family: 'Josefin Sans', sans-serif;
}

.footer-right{
    width: auto;
    display: flex;
    padding: 10px;
    flex-direction: row;
    gap: 20px;
}

.icons{
    padding: 10px;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(2, 1fr);
}

.vertical-line{
    width: 2px;
    height: 180px;
    background-color: white;
}

.footer-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    padding: 30px;
}

.footer-links h2{
    color: white;
    opacity: 70%;
    font-family: 'Josefin Sans', sans-serif;
}

.footer-links a{
    text-decoration: none;
}

.footer-left h1,h2{
    color: white;
}

.footer-left h2{
    opacity: 70%;
}

@media (max-width: 720px){
    footer{
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .footer-left{
        width: 100%;
        height: auto;
        justify-content: space-evenly;
    }

    .name h1{
        font-size: 170%;
    }

    .name h2{
        font-size: 100%;
        align-self: center;
    }

    .footer-right{
        width: 100%;
        justify-content: space-evenly;
    }

    .logo{
        height: auto;
    }

    .logo img{
        width: 100px;
        padding-top: 20px;
    }
    
    .vertical-line{
        width: 2px;
        height: 200px;
    }
}
    
}

